

:root
{
--white: #f5fbff;
--text: rgb(10,65,60);
}

{
  box-sizing: border-box;
}

body {
  background-color:var(--white);
  margin: 0%;
  padding: 0% ;  
  overflow-x: hidden;
  scroll-behavior: smooth;

}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color:var(--white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(6, 8, 5);
  font-family: "Open Sans";
  padding-bottom: 0%;
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 0px;
}

header nav ul  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: normal;
  font-size: 1.55vw;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

 .button {
  font-size: 1rem;
  letter-spacing: 1px;
  width: 100%;
  font-family: sans-serif;
  text-transform:lowercase;
  color:rgb(0, 0, 24);
  background-color: rgb(255, 255, 255);
  cursor:pointer;
  transition-duration: 10ms;
  box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);


}
 
.button:hover {
  background-color: #f80000;
  color: rgb(255, 255, 255);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.hero {

  font-family: "Open Sans";
  padding: 10%;
  color: var(--text);
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items:center;


}
.logo {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: center;}

.page
{
font-family: "Open Sans" ;
  text-align:center;
  color: var(--text);
  width: 80%;
  font-size: 2vw;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2cm;
}

h5

{width: 500px;
  padding: 0px;
  margin: 10px;
  font-size:medium;
  font-family: "Open Sans";
  color: var(--text);
  display: inline-block;
}
h5 p{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}



h1 
{width: 500px;
  padding: 0px;
  margin: 10px;
  font-size:1cm;
  font-family: "Open Sans";
  color: var(--text);
  display: inline-block;
}

h6
{
  padding:10px;
  margin: 10px;
  font-size:1cm;
  font-family: "Open Sans";
  color: var(--text);
text-align: center;
}


.logo
 {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* flexbox*/

.row 
{
  
  display:flex;
  flex-flow: row;
  font-family: "Open Sans";
  font-size: large;
  text-align: center;
}
.row > * {
  flex: 1;
}

.main

{background-image: url("../images/program.jpg") ;

}

.side

{background-image: url("../images/02-portfolio-3.jpg") ;
  
}
  
.side2

{background-image: url("../images/02-portfolio-3.jpg"); 
  
}

 



/*projects */
.title {
padding-bottom: 1cm;}


.my-projects {
  padding: 30px 0;
  text-align: center;
  background-color:var(--white)
}

.my-projects h2 {
  color:var(--text)
}

.projects-grid-wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.projects-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1fr, 2fr);
  grid-template-rows: repeat(5fr, 2fr);
  gap: 10px;
}

.project {
  border: solid;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.project:hover {
  opacity: 1.0;
}

.one {
  grid-column: 1/3;
  grid-row: span 2;
  background-image: url("../images/bg.jpg");
}

.two {
  background-image: url("../images/P1.jpg");
  background-position: 50% 15%;
}

.three {
  background-image: url("../images//bg.jpg");
  background-position: 60% 50%;
}

.four {
  background-image: url("../images/bg.jpg");
}

.five {
  background-image: url("../images/P1.jpg");
}

.project-label {
  
  background-color:rgb(196, 253, 253);
  width:30%;
  height:40%;
  text-align: center;
}


.img {
  background-color:var(--white)
 }

/*contact*/

.social {
  
  font-size:medium;
  padding: 10px;
  text-align:center;
  color: var(--text);

}
/*footer*/


footer {

  font-size:medium;
  padding: 1%;
  text-align: end;
  color: var(--text);
}

@media screen and (max-width: 700px)